<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name=‘viewport’ content=‘width=device-width, initial-scale=1.0, maximum-scale=1.0’ />
<!--STYLES-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!--SCRIPTS-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/menu.js"></script>
    <script type="text/javascript" src="/scripts/order.js"></script>
  </head>
<body>
  <div id="added_to_cart"></div>
    <nav>
      <span><h3>LOGO</h3></span>
      <span class="search">
        <form  action="" method="">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </span>

      <span class=" fas-right">
      <p id="cart_size">0</p>
      <span id="head_to_checkout"><i class="fas fa-cart-arrow-down"></i></span>
    </span>
    </nav>
    <header>
       <a id="menu_btn">Menu</a>
    </header>
    <section class="main-container">
      <div class="banner-container">
        <img src="https://i.pinimg.com/originals/36/e2/7e/36e27e1ac046e5f8c51078db83f9f310.jpg" width="100%">
      </div>
      <div class="anchor"></div>
      <div id="item-container"></div>
      <div id='order-container'></div>
      <div id='complete-container'></div>
    </section>
    <footer><p>Mind Term Project © 2021. All Rights Reserved</p></footer>
    <div id="quick-order-btn">♥︎</div>
  </body>
</html>
