.banner-container {
  margin-top: 7rem;

}

.anchor{
  display: none;
  height: 120px;
}


#complete-container{
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

  section {
    display: none;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    text-align: center;
    padding: 15px;
    color: black;
    background-color: $white-color;
    border-radius: 10px;

    .sending {
      display: block;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      border: 12px solid rgb(48, 47, 47);
      border-top: 12px solid $red-color;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    p{
      line-height: 1.2;
      color:$red-color;
    }

    h6{
      cursor: pointer;
      margin-top: -10px;
      text-align: left;
      color: grey;
      text-decoration: underline;
      &:hover{
        color:lightgray;
      }
    }

    h5{
      cursor: pointer;
      color: grey;
      text-align: right;
      &:hover{
        color: red;
      }
    }

   h2{
     color: $red-color;
   }

    img{
      cursor: pointer;
      margin-top: 30px;
      width: 75px;
      height: 75px;
      padding: 10px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    }

  }


}

#order-container{
  display: none;
  margin: 50px 150px;
  h1{
    color:black;
    text-align: left;
    margin-bottom: 50px;
  }

  section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: black;
    border:none;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding-top: 8px;
    padding-bottom: 8px;

    img{
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
    h3{
      width: 100px;
      color:black;
      text-align: left;

    }

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color:grey;
      font-size: 0.9rem;
      text-decoration: underline;
      &:hover{
        color: $red-color;
      }
    }
  }
}

.order-footer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  h2{
    color:black;
    text-align: right;
  }
  button{
    cursor: pointer;
    width: 200px;
    margin-bottom: 100px;
    color: $white-color;
    background-color: $red-color;
    padding: 15px;
    border:none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    &:hover{

      background-color: rgb(252, 92, 92);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 20px;
    }

  }

}

#item-container {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;

  .item-menu {
    width: 30.33%;
    margin: 1rem;
    text-align: center;
    background: #f3eeee;
    padding: 1rem;


    img{
      width: 100%;
    }

    h3{
      color:  $red-color;
      letter-spacing: 1px;;
    }

    p {
      font-size: 1rem;
      line-height: 23px;
      overflow-wrap: break-word;
    }

    .cart-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      input{
        width: 54px;
      }
    }

    .add-cart {
      padding: 2rem;

      span {
        background: $red-color;
        padding: 1rem;
        border-radius: 5px;
        color: $white-color;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
}



