.banner-container {
  margin-top: 7rem;

}

.anchor{
  display: none;
  height: 140px;

}


#complete-container{
  z-index: 12;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

  section {
    position: relative;
    display: none;
    margin: auto;
    margin-top: 60px;
    width: 600px;
    text-align: center;
    padding: 15px;
    color: black;
    background-color: $white-color;
    border-radius: 10px;

    .sending {
      display: block;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      border: 12px solid rgb(48, 47, 47);
      border-top: 12px solid $red-color;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    p{
      line-height: 1.2;
      color:$red-color;
    }

    a{
      text-decoration: none;
    }

    h6{
      cursor: pointer;
      margin-top: -10px;
      text-align: right;
      color: gray;
      font-size: 1.2rem;
      text-decoration: none;
      &:hover{
        color:lightgrey;
      }
    }

    h5{
      cursor: pointer;
      color: grey;
      text-align: right;
      &:hover{
        color: red;
      }
    }

    h4{
      line-height: 1.5;
    }

   h2{
     color: $red-color;
   }

    img{
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 75px;
      height: 75px;
      padding: 15px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    }

    .faded-img img{
      position: absolute;
      display: block;
      opacity: 0.08;
      top: 50%;
      left: 50%;
      margin: -250px 0 0 -320px;
      width: 300px;
      height: 300px;
      padding: none;
      border-radius: 0px;
      box-shadow:none;
    }
  }
}

#order-container{
  display: none;
  margin: 50px 150px;
  padding: 30px 50px;
  background: #fbfbfb;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 20px #ece8e8;
  border-radius: 10px;


  h1{
    color:black;
    text-align: center;
    margin-bottom: 50px;
  }

  section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: black;
    border:none;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.2rem;

    img{
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
    h3{
      width: 200px;
      color:black;
      text-align: left;

    }

    label{
      color: $red-color;
    }

    button {
      outline-color: $red-color;
      cursor: pointer;
      border: none;
      background-color: transparent;
      color:grey;
      font-size: 0.9rem;
      text-decoration: underline;
      &:hover{
        color: $red-color;
      }
    }
  }
}

.order-footer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  h4{
    margin: 1rem 0rem;
  }
   h5{
    margin: 1rem 0rem;
  }
  h2{
    color:black;
    text-align: right;
    margin-top: 1rem;
  }
  button{
    cursor: pointer;
    width: 200px;
    margin-bottom: 0px;
    color: $white-color;
    background-color: $red-color;
    padding: 15px;
    border:none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    &:hover{

      background-color: rgb(252, 92, 92);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 20px;
    }

  }

}

#item-container {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;


  .item-menu {
    width: 23.33%;
    margin: 2rem 0.5rem;
    text-align: center;
    background: #f3eeee;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;


    img{
      width: 100%;
      height: 175px;
      min-height: 150px;
      border-radius: 10px 10px 0px 0px;
    }

    h3{
      color:  $red-color;
      letter-spacing: 1px;
    }

    .nation{
      cursor: pointer;
      margin-top: -5px;
      font-size:3rem;
      border-bottom-style: solid;
      border-bottom-color: lightgrey;
      padding-bottom: 30px;
      border-bottom-width: 1px;

    }

    p {
      font-size: 1rem;
      line-height: 23px;
      overflow-wrap: break-word;
      padding: 0rem 1rem;
      font-weight: bold;
    }

    .discrib {
      height: 80px;
      font-weight: bold;
      padding: 0rem 0.5rem;
    }

    .cost-price {
      display: block;
      margin: auto;
      margin-top: -20px;
      margin-bottom: 30px;
      width: 100px;
      padding: 10px;
      color: $red-color;
      font-size: 1.5rem;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .add-cart {
      padding: 2rem;

      span {
        background: $red-color;
        padding: 1rem;
        border-radius: 5px;
        color: $white-color;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover{
          background: #21201f;
        }
      }
    }
  }
}





