header {
  z-index: 1;
  background: #211f1f;
  padding: 1rem;
  text-align: center;
  top: 111px;
    position: fixed;
    width: 100%;
  a {
    cursor: pointer;
    color: $white-color;
    padding: 0rem 1rem;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 1.3rem;
    &:hover{
      color: $red-color;
    }
  }
}


#myBtnn{
  width: 70px;
    height: 70px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right: 40px;
    background: #21201f;
    border-radius: 50%;
    border: none;
    .fas{
      color: $white-color;
    }
  &:hover{
    text-decoration:none;
    background:$red-color;
  }
}
