header {
  z-index: 1;
  background: #211f1f;
  padding: 1rem;
  text-align: center;
  top: 111px;
    position: fixed;
    width: 100%;
    z-index: 10;
  a {
    cursor: pointer;
    color: $white-color;
    padding: 0rem 1rem;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 1.3rem;
    &:hover{
      color: $red-color;
    }
  }
}


#myBtnn{
  cursor: pointer;
  width: 70px;
    height: 70px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right: 40px;
    background: #21201f;
    border-radius: 50%;
    border: none;
    .fas{
      color: $white-color;
    }
  &:hover{
    text-decoration:none;
    background:$red-color;
  }
}


#quick-order{
  cursor: pointer;
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 122px;
  right: 7px;
  padding: 7px;
  background-color: $white-color;
  border-style: solid;
  border-width: 3px;
  border-color: $red-color;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
  color: $red-color;
  font-size: 1rem;
  &:hover{
    border-color: red;
    color: red;

  }
  }
